{% if section_class|default %}
  {% set class =  ["section", "relative", "z-10"]|merge(section_class) %}
{% else %}
  {% set class =  ["section", "relative", "z-10"] %}
{% endif %}


{% embed "layout/section.html.twig" with {
  section_class : class
} %}

  {% block section %}

    <div class="row">
      <div class="col w-full md:w-10/12 mx-auto">
        <h3 class="">
          {{ title }}
        </h3>
      </div>
    </div>

    <div class="row flex-wrap mt-8 md:mt-20">
      <div class="col w-10/12 md:w-5/12 lg:w-4/12 ml-1/12 lg:ml-2/12">
        <p class="text-base leading-normal">
          {{ columns.left }}
        </p>
      </div>
      <div class="col w-10/12 ml-1/12 md:ml-0 md:w-5/12 lg:w-4/12 lg:ml-1/24 mt-8 md:mt-0 flex flex-col justify-between items-start">
        <p class="text-base leading-normal">
          {{ columns.right }}
        </p>
        {% if button %}
          <a href="#">
            <span class="button rounded-full">{{ button.text }}</span>
          </a>
        {% endif %}
      </div>
    </div>

  {% endblock %}

{% endembed %}
