{% if menu %}

  <ul class="list-reset flex flex-col md:flex-row">

    {% for item in menu %}

      <li class="nav-menu-item">
        {% if item.title == 'styleguide' %}
        {#  #}
        {% else %}
          
        
        <a target="{{ item.target }}" class="text-lg" href="{{ item.link }}">{{ item.title }}</a>

        {% include "components/menu.html.twig" with {
          "menu" : item.get_children
        } %}

        {% endif %}

      </li>

    {% endfor %}

  </ul>

{% endif %}