{# Sample page #}

{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset', 'text-blue', 'bg-orange-light'] %}

{% block main %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-full">
          <h2>contact</h2>
        </div>
      </div>

      <div class="row flex-wrap mt-8 md:mt-12 lg:mt-24 font-display text-lg lg:text-2lg">
        <div class="col mr-16 ml-1/12">
          <p>
            Adres:<br>
            Boschstraat 31<br>
            4811 GA, Breda
          </p>
          <p>
            076 888 8708<br>
            info@kamu-breda.nl
          </p>
        </div>
        <div class="col flex-grow ml-1/12 mt-8 md:mt-0 md:ml-0">
          <p>
            Openingstijden:<br>
            Maandag: 09:00 - 17:30<br>
            Dinsdag: 09:00 - 17:30<br>
            Woensdag: 09:00 - 17:30<br>
            Donderdag: 09:00 - 17:30<br>
            Vrijdag: 09:00 - 17:30<br>
            Zaterdag: 09:00 - 17:00<br>
            Zondag: 11:00 - 17:00
          </p>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% if post.meta('people_block').people %}
 
  {% embed "layout/section.html.twig" with {
    section_class : ["section"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-full">
          <h2>onze medewerkers</h2>
        </div>
      </div>

      <div class="relative mt-24 font-display uppercase">

        <div class="row flex-wrap relative mt-24 z-20">

        {% for item in post.meta('people_block').people %}
          
          <div class="col ml-2/12 w-8/12 md:w-3/12 mb-24">
            {% include "components/image.html.twig" with {
                figure_class: ['w-full', 'portrait'],
                image: item.portrait,
                size: 'portrait-50vw'
            } %}
            <p class="font-display font-bold uppercase leading-none mt-4 mb-2 text-3lg lg:text-2xl">{{ item.name }} </p>
            <p>{{item.role}}</p>
          </div>

        {% endfor %}

        </div>


        <div class="absolute inset-0 z-10 blur opacity-60 flex flex-col justify-between">
            <div class="row">
                <div class="col w-4/12 ml-7/12">
                    {% include "components/image.html.twig" with {
                        figure_class: ['w-full', 'landscape'],
                        image: post.meta('people_block').images[0].image
                    } %}
                </div>
            </div>

             <div class="row">
                <div class="col w-4/12">
                    {% include "components/image.html.twig" with {
                        figure_class: ['w-full', 'landscape'],
                        image: post.meta('people_block').images[1].image
                    } %}
                </div>

                <div class="col w-7/12 ml-1/12 mt-64">
                    {% include "components/image.html.twig" with {
                        figure_class: ['w-full', 'landscape'],
                        image: post.meta('people_block').images[2].image
                    } %}
                </div>
            </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

    {% endif %}

{% endblock %}
