{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset', 'text-blue', 'bg-white'] %}

{% block main %}

  {% include "components/hero.html.twig" with {
    text : "fietsen",
    align: "center"
  } %}

  {% embed "layout/section.html.twig" with {
    section_class : ["relative", "z-10", "pt-0"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-4/12 mt-1/24">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

        <div class="col w-5/12 ml-2/12 mt-8 -mb-8">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>
      </div>

      <div class="row">
        <div class="col w-4/12 ml-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

        <div class="col w-3/12 ml-2/12 mt-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% include "components/text.html.twig" with {
      title: 'wij genieten niet alleen van <br>goed eten en drinken, maar<br> ook van fietsen.',
      columns: {
          left: 'We worden blij van mooie fietsen, goed geklede fietsers en spannende fietsroutes. Bij Kamu vind je dan ook alles om je van fietsen te laten genieten. Zo hebben we bij Kamu voor iedereen een fiets.',
          right: 'Natuurlijk willen we dat je ook in het zadel de blits maakt: met een steeds groter wordende collecties jerseys (en zelfs een eigen Kamu-kit!) voorzien we zowel de vrouw als de man.'
      },
      button: false
  } %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "relative", "z-10", "swiper-section"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-10/12 mx-auto">
          <p class="text-xl font-bold font-display uppercase leading-none">
            onze fietsen
          </p>
        </div>
      </div>

      <div class="row mt-20">
        <div class="col w-3/12 ml-2/12">
          <ul class="text-2lg font-bold font-display uppercase leading-normal swiper-navigation">
            <li class="nav-item mb-4 active"><span>urban bikes</span></li>
            <li class="nav-item mb-4"><span>cross</span></li>
            <li class="nav-item mb-4"><span>race</span></li>
          </ul>
        </div>
        <div class="col w-7/12">

          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">

                {% include "components/image.html.twig" with {
                  figure_class : ["w-full", "landscape"]
                } %}
              </div>
              <div class="swiper-slide">

                {% include "components/image.html.twig" with {
                  figure_class : ["w-full", "landscape"]
                } %}
              </div>
              <div class="swiper-slide">

                {% include "components/image.html.twig" with {
                  figure_class : ["w-full", "landscape"]
                } %}
              </div>

            </div>
          </div>

        </div>
      </div>

    {% endblock %}

  {% endembed %}

{% endblock %}