<div class="footer-wrapper relative bg-blue">
  {% if footer_class|default == false %}
    {% set footer_class = ['bg-blue', 'text-white'] %}
  {% endif %}
  
  {% embed "layout/section.html.twig" with {
  section_tag: 'footer',
  section_class: ['footer-main', 'font-display', 'py-8', 'z-50']|merge(footer_class)
} %}

  {% block footer %}

    <div class="row">
      <div class="col w-full mb-12 md:mb-24">
        <span class="text-xl md:text-3xl lg:text-4xl uppercase font-bold leading-none">
          Wilt u nog<br>
          fiets bij<br>
          de koffie?
        </span>
      </div>
    </div>
    <div class="row footer-content mt-1/12 text-lg">
      <div class="col mb-8 w-full md:w-4/12 lg:w-auto lg:flex-shrink lg:mr-6">
        Kamu<br>
        Boschstraat 31<br>
        4811 GA, Breda
      </div>
      <div class="col mb-8 w-full md:w-4/12 lg:w-auto flex-grow flex flex-col lg:flex-row justify-start">
        <div class="flex-shrink mb-8 mr-16">
          076 888 8708<br>
          info@kamu-breda.nl
        </div>
        <div class="flex-grow">
          instagram<br>
          facebook
        </div>
      </div>
      <div class="col w-full md:w-4/12 lg:w-auto flex-shrink">
        Openingstijden<br>
        Maandag: 09:00 - 17:30<br>
        Dinsdag: 09:00 - 17:30<br>
        Woensdag: 09:00 - 17:30<br>
        Donderdag: 09:00 - 17:30<br>
        Vrijdag: 09:00 - 17:30<br>
        Zaterdag: 09:00 - 17:00<br>
        Zondag: 11:00 - 17:00
      </div>
    </div>

  {% endblock %}

{% endembed %}

</div>