{% embed "layout/section.html.twig" with {
  section_tag : "header",
  section_class: ['header-main', 'pinned', 'z-50']
} %}

  {% block header %}

    <nav id="nav-main" class="nav-main flex justify-between items-end" role="navigation">
      <div class="branding">
        <a href="{{ site.link }}">
              {% include "components/label.svg.twig" with { 
                svg_class: ['']
              } %}
            </a>
      </div>
      
      <div class="nav-menu items-start md:items-center text-lg md:text-base z-40 bg-blue md:bg-transparent text-white md:text-blue font-display font-bold uppercase">
        {% include "components/menu.html.twig" with {
          "menu" : menu.get_items
        } %}
        <a href="#footer-main" class="toggle-footer nav-menu-item">
          <span class="hidden md:block button text-white font-normal">fiets repareren</span>
          <span class="block md:hidden">fiets repareren</span>
        </a>
      </div>
      <div class="nav-burger-wrapper">
        <div class="nav-burger toggle-menu relative z-50">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    </nav>

  {% endblock %}

{% endembed %}
