@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

html, body {
    @apply font-body;
    font-weight: 500;
    letter-spacing: 0.018em;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h1, h2, h3 {
  @apply font-display font-bold leading-none uppercase;
}

p {
  @apply leading-normal mb-1;
  max-width: 40em;
}