.container {
  @apply mx-auto;
  max-width: $site-max-width;
  padding-left: $site-offset;
  padding-right: $site-offset;

  &.max-w-none {
    max-width: none;
  }

  &.no-padding {
    padding: 0;
  }
}

.section {
  padding-top: $section-offset;
  padding-bottom: $section-offset;

  &.pt-0 {
    padding-top: 0;
  }
}

.row {
  @apply flex;
  margin-left: calc($gutter / -2);
  margin-right: calc($gutter / -2);
}

.col {
  padding-left: calc($gutter / 2);
  padding-right: calc($gutter / 2);
}