/* grid */
$section-offset: 96px;
$gutter: 32px;
$site-max-width: 100rem;
$site-offset: 32px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: 96px;
/*  */
$burger-width: 20px;
$burger-height: 15px;