{% extends "core/base.html.twig" %}

{% set main_class = ['text-orange', 'bg-white'] %}

{% set header_color = "orange" %}

{% set footer_class = ["bg-orange", "text-orange-light"] %}

{% block main %}

  {% embed "layout/section.html.twig" with {
    section_class : ["relative", "header-offset", "bg-orange-light", "z-10"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-7/12 md:w-5/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

        <div class="col w-6/12 md:w-3/12 mt-2/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

        <div class="col w-3/12 hidden md:block ml-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "portrait"]
          } %}
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  <section class="section bg-orange-light">
    <div class="container">

      <div class="row">
        <div class="col md:ml-1/12 w-11/12">

          <p class="text-3lg md:text-2xl lg:text-3xl font-bold font-display uppercase leading-none ">
            koffie komt bij ons op <br class="hidden md:block">de eerste plaats!
          </p>
        
        </div>
      </div>

    </div>
  </section>

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "relative", "bg-orange-light", "z-10"]
    } %}

    {% block section %}

      <div class="row flex-wrap">
        <div class="col w-full md:w-5/12 lg:w-4/12 mb-8 md:mb-0 md:ml-1/12 lg:ml-2/12">
          <p class="text-base leading-normal">
            {# {{ columns.left }} #}
            Onze barista's gebruiken koffie van de Amsterdamse koffiebranderij White Label Coffee. De focus hierbij ligt op kwaliteit, iedereen in de koffie keten moet op een goede manier beloond worden voor deze kwaliteit. Van boon tot kop!
          </p>
        </div>
        <div class="col w-full md:w-5/12 lg:w-4/12 lg:ml-1/24 flex flex-col justify-between items-start">
          <p class="text-base leading-normal">
            {# {{ columns.right }} #}
            We hebben altijd een aantal verschillende bonen op de maler. We zetten hier mee perfect uitgebalanceerde espresso, zijdezachte cappuccino's en heerlijke americano's. Maar dit is niet de enige koffie die we serveren. Probeer bijvoorbeeld ook eens een fijne bak V60 filterkoffie.
          </p>
          {# {% if button %} #}
          <a href="#">
            <span class="button block mt-8 bg-orange font-display uppercase">bekijk de menukaart</span>
          </a>
          {# {% endif %} #}
        </div>
      </div>

      <div class="pb-48 md:pb-32 lg:pb-64"></div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["pt-12", "lg:pt-24", "relative", "z-10"]
  } %}

    {% block section %}

      <div class="row flex-wrap">
        <div class="col w-10/12 md:w-4/12 ml-1/12">
          <div class="flex justify-center md:justify-start">
            <p class="text-3lg md:text-2lg lg:text-2xl font-bold font-display uppercase leading-none px-6 pt-6 pb-20 bg-orange text-orange-light" style="margin-top: -244px">
              IEDER<br>
              MOMENT VAN<br>DE DAG IS<br>
              EEN GOED<br>
              MOMENT OM<br>EVEN TE<br>
              GENIETEN
            </p>
          </div>
        </div>

        <div class="col py-8 md:pt-0 w-10/12 md:w-6/12 lg:w-5/12 ml-1/12 md:ml-0 lg:ml-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["pt-8", "pb-24", "relative", "z-10"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-10/12 mx-auto">
          <p class="text-2lg md:text-3lg lg:text-xl font-bold font-display uppercase leading-none">
            ontbijt en lunch
          </p>
        </div>
      </div>

      <div class="row flex-wrap mt-8 md:mt-20 text-black">
        <div class="col w-10/12 md:w-5/12 lg:w-4/12 ml-1/12 lg:ml-2/12 mb-8 md:mb-0">
          <p class="text-base leading-normal">
            Een goed ontbijt is het halve werk. Begin je dag bij Kamu met onder andere ovenverse croissants, een rogge rozijnenbrood of een granola met vers fruit.<br>
            <br>
            Voor lunch geniet je van ons desembrood die dagelijks vers worden gebakken. Per seizoen vind je anders belegde broodjes op de kaart - altijd een afwisseling van vlees, vis, vegetarisch en veganistisch.
          </p>
        </div>
        <div class="col ml-1/12 md:ml-0 w-10/12 md:w-5/12 lg:w-4/12 lg:ml-1/24 flex flex-col justify-between items-start">
          <p class="text-base leading-normal">
            Maar er is meer: je kan ook onze seizoenssoep bestellen of kies een tosti. Natuurlijk hebben we genoeg opties voor kinderen! En voor de lekkere trek hebben we de heerlijke taarten klaar staan.<br>
            <br>
            Kan je nog niet kiezen en ken je iemand met veel dorst en trek? Doe een Kamu-bon cadeau!<br>
            <br>
            Tip voor iedereen: je kan je koffie of thee ook meenemen voor onderweg.
          </p>

            <a href="#">
              <span class="button block mt-8 bg-orange font-display uppercase">bekijk de menukaart</span>
            </a>

        </div>
      </div>

    {% endblock %}

  {% endembed %}

   {% embed "layout/section.html.twig" with {
    section_class : ["section", "relative", "z-10"]
  } %}

    {% block section %}

      <div class="row items-end">
        <div class="col w-5/12 md:w-3/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

        <div class="col w-7/12 md:w-5/12 mb-8 -mr-1/12 md:mr-0" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape", "shadow-2xl"]
          } %}
        </div>

        <div class="col hidden md:block w-3/12 mb-24" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

      </div>

    {% endblock %}

  {% endembed %}

    {% include "components/text.html.twig" with {
      section_class: ['bg-orange-light', 'text-blue'],
      title: 'echt brood, van joris',
      columns: {
        left: 'Het brood dat wij serveren bij Kamu wordt gebakken bij desembakkerij “Echt Brood". Door bakker Joris van Duijnhoven wordt zonder toevoegingen met (biologisch) meel/bloem, water, organisch zeezout en eigen desemcultuur traditioneel brood gebakken.',
        right: 'Het deeg dat Joris maakt met zijn eigengemaakte desem wordt na een koelrijs periode van 24 uur gebakken. Door dit lange proces ontstaat een optimaal smaak, zijn toevoegingen zoals broodverbeteraars, bakkersgist en andere grondstoffen niet nodig voor de desembroden. Het gehele proces is in de bakkerij voor iedereen te volgen.'
      }
    } %}

     {% embed "layout/section.html.twig" with {
    section_class : ["section", "relative", "bg-orange-light", "pt-0", "z-10"]
  } %}

    {% block section %}

      <div class="row items-end">
        <div class="col -ml-1/12 lg:ml-0 w-6/12 md:w-4/12 mb-8">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

        <div class="col w-7/12 md:w-5/12 lg:w-4/12" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape", "shadow-2xl"]
          } %}
        </div>

        <div class="col hidden md:block w-3/12 mb-24" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"]
          } %}
        </div>

      </div>

    {% endblock %}

  {% endembed %}

{% endblock %}