{# Sample page #}

{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset', 'text-blue', 'bg-orange-light'] %}

{% block main %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-full">
          <h2>Verhalen</h2>
        </div>
      </div>

      <div class="row mt-12">
        <div class="col w-10/12 mx-auto">
            <div class="flex flex-wrap">

                {% for item in verhalen %}
                    
                    <div class="w-10/12 md:w-5/12 mx-auto my-12">
                        {% include "components/image.html.twig" with {
                            figure_class: ['w-full', 'landscape'],
                            image: item.meta('page_header').image
                        } %}
                        <p class="mt-4 mb-2 font-display uppercase">
                            {{ item.meta('page_header').date }}
                        </p>
                        <p class="text-2lg lg:text-4lg font-display font-bold uppercase leading-none">
                            {{ item.title }}
                        </p>
                    </div>

                {% endfor %}

            </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

{% endblock %}
